<div class="form-container">
  <%= simple_form_for(@estimation) do |f| %>
    <div class="form-part slidepage">
      <%= f.input :address, label: 'Address of your property', id: 'address_input' %>
      <div class="d-flex justify-content-end">
        <button class="btn btn-esf nexbtn" type="button">Next</button>
      </div>
    </div>
    <div class="form-part slidepage-2">
      <%= f.input :full_name, label: 'Full name' %>
      <%= f.input :email, label: 'Email address' %>
      <%= f.input :phone, label: 'Phone number' %>
      <%= f.input :type_estimation, label: 'I would like to sell...', as: :radio_buttons, collection: [["In the next 3 months", "Dans les 3 prochains mois"], ["In the next 6 months", "Dans les 6 prochains mois"], ["In the next 12 months", "Dans les 12 prochains mois"], ["I would just like to get my estimate", "J'aimerais seulement avoir mon estimation"]] %>
      <div class="field btns d-flex justify-content-around">
        <button class="prev-1 prev btn btn-esf" type="button">Previous</button>
        <%= f.button :submit, 'Envoyer', class:"btn btn-esf submitBtn" %>
      </div>
    </div>
  <% end %>
</div>