<h1>Nouvelle demande d'estimation sur evaluationsansfrais.ca</h1>

<p>
  Bonjour,<br>
  Vous avez reçu une nouvelle demande d'estimation sur evaluationsansfrais.ca. Veuillez consulter les détails ci-dessous :
</p>

<p><strong>Nom : </strong> <%= @estimation.full_name %></p>
<p><strong>Téléphone : </strong> <%= @estimation.phone %></p>
<p><strong>Courriel : </strong> <%= @estimation.email %></p>
<p><strong>Adresse : </strong> <%= @estimation.address %></p>
<p><strong>Type d'estimation : </strong> <%= @estimation.type_estimation %></p>

<p>En vous souhaitant une excellente journée,</p>
<p>Stéphanie</p>