<%= render 'shared/navbar_eng'%>
<div class="banner header" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1499310392581-322cec0355a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80);">
  <div class="container">
    <h1>Would you like to know the value of your property?</h1>
    <p>Fill in this short form and that's it!</p>

    <div class="container d-flex justify-content-center align-items-center mt-5">
      <%= render 'shared/form_eng' %>
    </div>
  </div>
</div>

<div class="container my-5" id="why-section">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Why evaluationsansfrais.com ?</h1>
  </div>

  <div class="container">
    <div class="row d-flex justify-content-between align-items-center my-4">

      <div class="flip-card col-sm-12 col-md-3">
        <div class="flip-card-inner">
          <div class="flip-card-front d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1562663474-6cbb3eaa4d14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);width:300px;height:300px;border-radius:8px;">
            <h2>Simple tool</h2>
          </div>

          <div class="flip-card-back d-flex justify-content-center align-items-center flex-column">
            <h2>Simple tool</h2>
            <p>Our tool is simple: when you are ready to request an estimate, simply fill out the short form above. A broker will contact you to give you an estimate.</p>
          </div>
        </div>
      </div>

      <div class="flip-card col-sm-12 col-md-3">
        <div class="flip-card-inner">
          <div class="flip-card-front d-flex justify-content-center align-items-center" style="background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(https://images.unsplash.com/photo-1556912172-45b7abe8b7e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);width:300px;height:300px;border-radius:8px;">
            <h2>Without any commitment</h2>
          </div>

          <div class="flip-card-back d-flex justify-content-center align-items-center flex-column">
            <h2>Without any commitment</h2>
            <p>The request for an estimate does not commit you in any way. In other words, we provide you with our estimate of your property: by filling out the form, you are not committing yourself to sell your property.</p>
          </div>
        </div>
      </div>

      <div class="flip-card col-sm-12 col-md-3">
        <div class="flip-card-inner">
          <div class="flip-card-front d-flex justify-content-center align-items-center" style="background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(https://images.unsplash.com/photo-1556020685-ae41abfc9365?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);width:300px;height:300px;border-radius:8px;">
            <h2>Free of charge</h2>
          </div>

          <div class="flip-card-back d-flex justify-content-center align-items-center flex-column">
            <h2>Free of charge</h2>
            <p>You know what's even better? This service is totally free! Yes, yes, free, as in "You don't pay a penny"! So, what are you waiting for to find out the market value of your property?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5" id="factors">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <h1>What factors affect the value of my home?</h1>
    </div>

    <div class="container">
      <div class="row my-4 d-flex justify-content-around align-items-center">

        <div class="card-value col-sm-12 col-xl-5">
          <%= image_tag asset_path("house.jpg") %>
          <div class="card-value-infos">
            <h3>The lot</h3>
            <p>A well landscaped, spacious and easily accessible lot increases the value of a property.</p>
          </div>
        </div>

        <div class="card-value col-sm-12 col-xl-5">
          <%= image_tag asset_path("kitchen.jpg") %>
          <div class="card-value-infos">
            <h3>Condition of the property</h3>
            <p>A house that is well maintained over the years will increase the value of the property..</p>
          </div>
        </div>

        <div class="card-value col-sm-12 col-xl-5">
          <%= image_tag asset_path("interest.jpg") %>
          <div class="card-value-infos">
            <h3>Interest rates</h3>
            <p>When the mortgage interest rate goes up, demand goes down and the value of your property goes down.</p>
          </div>
        </div>

        <div class="card-value col-sm-12 col-xl-5">
          <%= image_tag asset_path("city.jpg") %>
          <div class="card-value-infos">
            <h3>The location</h3>
            <p>If your property is located in a good neighbourhood, it will be worth more than a property located in a poorer neighbourhood.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>