<!DOCTYPE html>
<html>
  <head>
    <title>Évaluation sans frais - Obtenez une estimation sans frais de votre propriété ! </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body>
    <%=render 'shared/flashes'%>
    <% if @french_navbar %>
      <%= render 'shared/navbar'%>
    <% else %>
      <%= render 'shared/navbar_eng'%>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer'%>
  </body>
</html>
